body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

#myNavbar {
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #431c5d !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e05915 !important;
    background-color: #c2dde6 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.jumbotron {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #431c5d;
    color: #ffffff;
    padding: 100px 25px;
}

#subscribe-message {
  margin-top: 1.5em;
  font-style: italic;
}

.bg-grey {
  background-color: #e6e9f0;
}

.bg-blue {
  background-color: #c2dde6;
  padding: 25px;
}

.container-fluid {
    padding: 60px 50px;
}

.modal-title {
  background-color: #431c5d;
  color: white;
}

.small {
  color: #cdd422;
  font-size: 50px;
}

.large {
  color: #cdd422;
  font-size: 140px;
}

@media screen and (max-width: 768px) {
    .col-sm-6 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 15px;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.box {
  background-color: white;
}

#myCarousel {
  background-color: #c2dde6;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e05915;
}

.carousel-indicators li {
    border-color: #cdd422;
}

.carousel-indicators li.active {
    background-color: #cdd422;
}

.item {
  margin-bottom: 6em;
}

.item h3 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    /*margin: 70px 0;*/
}

.item p {
  max-width: 80%;
  margin: auto;
}

.item span {
    font-style: normal;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #e05915;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

table {
  width: 80%;
  margin: auto;
}

table, th, td {
  border-collapse: collapse;
}

th {
  background-color: #c2dde6;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

th, td {
  padding: 8px;
  border: 1px solid #431c5d;
}

table caption {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2em;
}

tr:hover {
  background-color: #bccbde;
}

tr:nth-child(even){background-color: #e6e9f0;}

/* Here are the colors to use:
#bccbde
#c2dde6
#e6e9f0
#431c5d
#e05915
#cdd422
*/
